html,
body {
	@apply bg-white dark:bg-black;
}

body {
	min-height: 100vh;
	min-height: -moz-available;
	min-height: -webkit-fill-available;
	min-height: fill-available;
	overflow: hidden;
	padding-bottom: calc(1rem + env(safe-area-inset-bottom));
}

#svelte {
	height: calc(100vh - env(safe-area-inset-bottom));
	width: 100%;
}

p {
	@apply text-dark-700 dark:text-light-200;
}

a {
	@apply text-black dark:text-light-200;
}

button {
	@apply bg-blue-600 text-dark-900 backdrop-filter backdrop-blug-lg bg-opacity-60 uppercase py-1 px-2 rounded-sm dark:text-light-200 focus:outline-none hover:dark:text-dark-900 hover:(bg-opacity-100 text-light-200);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-medium leading-tight mt-0 mb-2 text-blue-500;
}

h1 {
	@apply text-5xl;
}

h2 {
	@apply text-4xl;
}

h3 {
	@apply text-3xl;
}

h4 {
	@apply text-2xl;
}

h5 {
	@apply text-xl;
}

h6 {
	@apply text-base;
}

nav a::after {
	content: '';
	vertical-align: center;
	clear: both;
}

nav a[aria-current] {
	@apply inline-block;
}

nav a[aria-current]::after {
	position: relative;
	content: '';
	width: 100%;
	height: 2px;
	background-color: #3b82f6;
	display: block;
	bottom: -2px;
}

.appContent {
	@apply pt-12 md:pt-14;
}

.glassmorphicBg {
	@apply bg-gray-500 backdrop-filter backdrop-blur-lg bg-opacity-10 dark:(bg-white bg-opacity-10);
}

.glassmorphicMenu {
	@apply bg-white backdrop-filter backdrop-blur-lg bg-opacity-80 dark:(bg-gray-500 backdrop-filter backdrop-blur-lg bg-opacity-80);
}

.progress-container {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 30px;
	max-width: 100%;
	width: 350px;
}

.progress-container::before {
	content: '';
	background-color: #e0e0e0;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	z-index: -1;
}

.progress {
	background-color: #3498db;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 4px;
	width: 0%;
	z-index: -1;
	transition: 0.4s ease;
}

.circle {
	background-color: #fff;
	color: #999;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid #e0e0e0;
	transition: 0.4s ease;
	cursor: pointer;
}

.circle::after {
	content: attr(data-title) ' ';
	position: absolute;
	bottom: 35px;
	color: #999;
	transition: 0.4s ease;
}

.circle.active::after {
	color: #3498db;
}

.circle.active {
	border-color: #3498db;
}

.invalid,
.bar {
	border: 1px solid red;
}

.valid,
.foo {
	border: 1px solid green;
}

.dirty {
	border: 1px dashed black;
}

.list {
	flex-grow: 1;
}

.list .virtual-list-wrapper {
	overflow-y: scroll;
	overflow-x: hidden;
	white-space: nowrap;
}
